Repository reuters-graphics/graphics-svelte-components: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint --cache --fix {staged_files}

prettier:
  run: npx prettier --write {staged_files}

checkpoint
  bin/buildPackage/index.js
  bin/buildPackage/locations.js
  bin/buildPackage/process/other.js
  bin/buildPackage/process/svelte.js
  bin/buildPackage/process/typescript.js
  bin/preprocess/index.js
  package.json
  src/components/LottieScroller/AnimationMaker.js
  src/components/LottieScroller/_lottie.json
  src/components/LottieScroller/docs.svx
  src/components/LottieScroller/index.svelte
  src/components/LottieScroller/timings.js
  src/components/SiteHeader/NavBar/NavDropdown/StoryCard/time.d.ts
  src/components/SiteHeader/NavBar/NavDropdown/StoryCard/time.d.ts.map
  src/components/SiteHeader/NavBar/utils/index.d.ts
  src/components/SiteHeader/NavBar/utils/index.d.ts.map
  src/components/Spinner/Spinner.stories.svelte
  src/components/Spinner/Spinner.svelte
  src/components/Spinner/make.ts
  src/components/index.js
  tsconfig.json
  vite.config.js
  yarn.lock
Due: eslint, prettier

build scripts
  bin/buildPackage/locations.js
  bin/buildPackage/process/other.js
  bin/buildPackage/process/svelte.js
  bin/buildPackage/process/typescript.js
  package.json
  src/components/Spinner/Spinner.svelte
  src/components/Spinner/make.ts
  src/components/Visible/Visible.svelte
  tsconfig.json
Due: prettier

build:package
  .storybook/main.cjs
  bin/buildPackage/index.js
  bin/buildPackage/locations.js
  bin/buildPackage/process/other.js
  bin/buildPackage/process/svelte.js
  bin/buildPackage/process/typescript.js
  bin/preprocess/index.cjs
  package.json
  src/components/SiteHeader/MobileMenu/index.svelte
  src/components/SiteHeader/NavBar/NavDropdown/StoryCard/time.d.ts
  src/components/SiteHeader/NavBar/NavDropdown/StoryCard/time.d.ts.map
  src/components/SiteHeader/NavBar/utils/index.d.ts
  src/components/SiteHeader/NavBar/utils/index.d.ts.map
  src/components/SiteHeader/index.svelte
  src/index.js
  tsconfig.json
  vite.config.js
Due: prettier

cleanup
  .storybook/Theme.js
  .storybook/main.cjs
  src/docs/utils/withParams.js
  tsconfig.json
  vite.config.js
Due: eslint, prettier

cleanup
  .storybook/Theme.js
Due: none

docs
  .markdownlint.jsonc
  .storybook/preview.js
  bin/newComponent/index.cjs
  bin/newComponent/template/YourComponent/YourComponent.stories.svelte
  bin/newComponent/template/YourComponent/YourComponent.svelte
  bin/newComponent/template/YourComponent/stories/docs/component.md
  bin/newComponent/template/YourComponent/stories/shark.jpg
  package.json
  src/components/Spinner/Spinner.stories.svelte
  src/components/Spinner/Spinner.svelte
  src/components/Spinner/stories/docs/component.md
  src/components/Visible/Visible.stories.svelte
  src/components/Visible/Visible.svelte
  src/components/Visible/docs.svx
  src/components/Visible/stories/docs/component.md
  src/components/Visible/stories/snippets/default.svelte
  src/docs/contributing/component.basics.stories.mdx
  src/docs/contributing/quickstart.stories.mdx
  src/docs/contributing/story-recipes/basic-story.stories.mdx
  src/docs/contributing/story-recipes/story-with-custom-controls.stories.mdx
  src/docs/contributing/story-recipes/story-with-custom-docs.stories.mdx
  src/docs/contributing/story-recipes/story-with-media.stories.mdx
  src/docs/contributing/writing-component-stories.stories.mdx
  src/docs/docStyles.scss
  src/docs/intro.stories.mdx
  src/docs/utils/docsPage.js
  src/docs/utils/withParams.js
  src/docs/utils/withParams.ts
  src/index.js
  src/statics/images/docs/story-recipes/source-code.png
  vite.config.js
  yarn.lock
Due: eslint, prettier

ReutersLogo
  src/components/ReutersLogo/ReutersLogo.stories.svelte
  src/components/ReutersLogo/ReutersLogo.svelte
  src/components/ReutersLogo/docs.svx
  src/components/ReutersLogo/stories/docs/component.md
  src/index.js
Due: prettier

PymChild
  src/components/PymChild/PymChild.stories.svelte
  src/components/PymChild/PymChild.svelte
  src/components/PymChild/docs.svx
  src/components/PymChild/index.svelte
  src/components/PymChild/stories/docs/component.md
  src/components/Referrals/IntersectionObserver.svelte
  src/components/Referrals/Link.svelte
  src/components/Referrals/Referrals.svelte
  src/components/Referrals/docs.svx
  src/components/Referrals/index.svelte
  src/components/ReutersLogo/stories/docs/component.md
  src/index.js
Due: prettier

BodyText
  src/components/BodyText/BodyText.stories.svelte
  src/components/BodyText/BodyText.svelte
  src/components/BodyText/docs.svx
  src/components/BodyText/index.svelte
  src/components/BodyText/stories/docs/component.md
  src/components/Footer/docs.svx
  src/components/Footer/index.svelte
  src/components/Nav/docs.svx
  src/components/Nav/index.svelte
  src/components/PymChild/PymChild.stories.svelte
Due: prettier

EndNotes
  src/components/EmbedPreviewerLink/EmbedPreviewerLink.stories.svelte
  src/components/EmbedPreviewerLink/EmbedPreviewerLink.svelte
  src/components/EmbedPreviewerLink/docs.svx
  src/components/EmbedPreviewerLink/index.svelte
  src/components/EmbedPreviewerLink/stories/docs/component.md
  src/components/EndNotes/EndNotes.stories.svelte
  src/components/EndNotes/EndNotes.svelte
  src/components/EndNotes/docs.svx
  src/components/EndNotes/index.svelte
  src/components/EndNotes/stories/docs/component.md
  src/index.js
Due: prettier

Headline
  .storybook/preview.scss
  src/components/Headline/Headline.stories.svelte
  src/components/Headline/Headline.svelte
  src/components/Headline/docs.svx
  src/components/Headline/stories/crown.png
  src/components/Headline/stories/docs/component.md
  src/components/Headline/stories/docs/withByline.md
  src/components/Headline/stories/docs/withCrown.md
  src/docs/intro.stories.mdx
  src/index.js
Due: prettier

scss
  .storybook/preview.scss
Due: none

docs
  .storybook/preview.js
  src/components/EmbedPreviewerLink/EmbedPreviewerLink.stories.svelte
  src/docs/contributing/component.basics.stories.mdx
  src/docs/guides/google-docs.stories.mdx
  src/docs/guides/graphics-kit.stories.mdx
  src/docs/guides/using-docs.stories.mdx
Due: prettier

lineup index import exports
  src/index.js
Due: none

SiteHeader SiteFooter
  .storybook/preview.js
  src/components/SiteFooter/Referrals/index.svelte
  src/components/SiteFooter/SiteFooter.stories.svelte
  src/components/SiteFooter/SiteFooter.svelte
  src/components/SiteFooter/docs.svx
  src/components/SiteFooter/stories/docs/component.md
  src/components/SiteFooter/stories/docs/customReferrals.md
  src/components/SiteFooter/stories/docs/darkTheme.md
  src/components/SiteHeader/SiteHeader.stories.svelte
  src/components/SiteHeader/SiteHeader.svelte
  src/components/SiteHeader/docs.svx
  src/components/SiteHeader/stories/docs/component.md
  src/components/SiteHeader/stories/docs/darkTheme.md
  src/docs/guides/customising-with-scss.stories.mdx
  src/index.js
Due: prettier

Sharer
  package.json
  src/components/FeaturePhoto/FeaturePhoto.stories.svelte
  src/components/FeaturePhoto/FeaturePhoto.svelte
  src/components/FeaturePhoto/stories/docs/component.md
  src/components/FeaturePhoto/stories/docs/missingAltText.md
  src/components/FeaturePhoto/stories/shark.jpg
  src/components/Image/docs.svx
  src/components/Image/index.svelte
  src/components/Sharer/Sharer.stories.svelte
  src/components/Sharer/Sharer.svelte
  src/components/Sharer/docs.svx
  src/components/Sharer/stories/docs/component.md
  src/components/SiteFooter/SiteFooter.svelte
  src/components/SiteFooter/stories/docs/darkTheme.md
  src/components/SiteHeader/stories/docs/darkTheme.md
  src/index.js
Due: prettier

Hero
  .storybook/main.cjs
  src/components/BodyText/BodyText.stories.svelte
  src/components/EmbedPreviewerLink/EmbedPreviewerLink.stories.svelte
  src/components/EndNotes/EndNotes.stories.svelte
  src/components/FeaturePhoto/FeaturePhoto.stories.svelte
  src/components/Headline/Headline.stories.svelte
  src/components/Hero/Hero.stories.svelte
  src/components/Hero/Hero.svelte
  src/components/Hero/index.svelte
  src/components/Hero/stories/docs/component.md
  src/components/Hero/stories/docs/withByline.md
  src/components/Hero/stories/docs/withCrown.md
  src/components/Hero/stories/polar.jpg
  src/components/ReutersLogo/ReutersLogo.stories.svelte
  src/components/Sharer/Sharer.stories.svelte
  src/components/SiteFooter/SiteFooter.stories.svelte
  src/components/SiteHeader/SiteHeader.stories.svelte
  src/components/Spinner/Spinner.stories.svelte
  src/components/Visible/Visible.stories.svelte
  src/docs/contributing/component.basics.stories.mdx
  src/docs/contributing/quickstart.stories.mdx
  src/docs/contributing/story-recipes/basic-story.stories.mdx
  src/docs/contributing/story-recipes/story-with-custom-controls.stories.mdx
  src/docs/contributing/story-recipes/story-with-custom-docs.stories.mdx
  src/docs/contributing/story-recipes/story-with-media.stories.mdx
  src/docs/contributing/writing-component-stories.stories.mdx
  src/docs/guides/customising-with-scss.stories.mdx
  src/docs/guides/google-docs.stories.mdx
  src/docs/guides/graphics-kit.stories.mdx
  src/docs/guides/using-docs.stories.mdx
  src/docs/intro.stories.mdx
  src/docs/utils/withParams.js
  src/index.js
  tsconfig.json
Due: eslint, prettier

withParams
  src/docs/utils/withParams.js
Due: eslint, prettier

Framer
  bin/newComponent/template/YourComponent/YourComponent.stories.svelte
  src/components/FeaturePhoto/FeaturePhoto.svelte
  src/components/Framer/Framer.stories.svelte
  src/components/Framer/Framer.svelte
  src/components/Framer/docs.svx
  src/components/Framer/stories/docs/component.md
  src/components/Hero/Hero.svelte
  src/index.js
Due: prettier

BeforeAfter
  src/components/BeforeAfter/BeforeAfter.stories.svelte
  src/components/BeforeAfter/BeforeAfter.svelte
  src/components/BeforeAfter/docs.svx
  src/components/BeforeAfter/stories/docs/ariaDescriptions.md
  src/components/BeforeAfter/stories/docs/component.md
  src/components/BeforeAfter/stories/docs/withOverlays.md
  src/components/BeforeAfter/stories/myrne-after.jpg
  src/components/BeforeAfter/stories/myrne-before.jpg
  src/components/DatawrapperChart/DatawrapperChart.stories.svelte
  src/components/DatawrapperChart/DatawrapperChart.svelte
  src/components/DatawrapperChart/docs.svx
  src/components/DatawrapperChart/get-url-from-teams.png
  src/components/DatawrapperChart/index.svelte
  src/components/DatawrapperChart/stories/docs/component.md
  src/components/DatawrapperChart/stories/docs/withChatter.md
  src/index.js
Due: prettier

buildPackage
  bin/buildPackage/index.js
  package.json
Due: none

buildPackage
  bin/buildPackage/index.js
Due: none

last commit on branch before new repo
  .storybook/preview.scss
  src/actions/resizeObserver/index.js
  src/components/Article/stories/docs/customWellWidths.md
  src/components/BodyText/BodyText.svelte
  src/components/Section/Section.stories.svelte
  src/components/Section/Section.svelte
  src/components/Section/stories/docs/snapWidths.md
  src/scss/_mixins.scss
  src/scss/containers/_mixins.scss
Due: eslint, prettier

docs redirect
  README.md
  pages/components/[slug].svelte
  pages/index.svelte
  src/lib/_docs/Announcement/index.svelte
Due: prettier

docs
  src/lib/_docs/Announcement/index.svelte
Due: prettier

Path conditions:
  eslint: any of: src/**/*.js
  prettier: any of: src/**/*.{js,scss,md,svelte}
